<% layout("/layouts/boilerplate") %>
<div class="contain">
    <!-- -------------- HOME SECTION ---------------- -->              
   <section class="home" id="home">
       <div class="hero-section">
             <div class="faded-text">Siddharth Rai</div>
               <div class="hero-section-left">
                   <div class="featured-text-card">
                       <span>siddharth Rai</span>
                   </div>
                       <div class="hero-section-heading hero-section-sub-heading">
                         I'm <span class="role"></span>
                       </div>

                       <div class="hero-section-description">
                          I'm a full stack web developer <div id="extra-description">who loves to create beautiful and functional websites
                          for people who want to make a difference in the world.
                          and </div> 
                          here is my portfolio website. Here you'will leaen about my journey as a web developer.
                       </div>

                       <div class="social-media">     
                          <a href="https://github.com/siddharthkumarrai"><i class="bx bxl-github"></i></a>
                          <a href="https://www.linkedin.com/in/siddharth-kumar-rai/"><i class='bx bxl-linkedin'></i></a>
                          <a href="https://twitter.com/siddharthkr777"><i class='bx bxl-twitter'></i></a>
                          <a href="https://www.facebook.com/profile.php?id=61556235782338"><i class="bx bxl-facebook-circle"></i></a>
                       </div>

                       <div class="hero-btn">
                         <a href="#contact">
                           <button class="glow-on-hover hero-section-btn" type="button" >Hire Me</button>
                         </a>
                         <a href="https://drive.google.com/file/d/1U7Mxt_QXlELLJWa91o97MY_GOtmKr8B_/view?usp=drivesdk">
                           <button class="glow-on-hover hero-section-btn" type="button" >Download CV &nbsp; <i class="fa-solid fa-file-lines"></i></button>
                         </a>
                       </div>
               </div>

               <div class="profession-container">
                   <div class="profession-box">
                       <div class="profession" style="--i:0;">
                           <i class='bx bx-code-alt'></i>
                           <h3 class="prof">Web Developer</h3>
                       </div>
                       <div class="profession" style="--i:1;">
                           <i class='bx bx-camera'></i>
                           <h3 class="prof">Photographer</h3>
                       </div>
                       <div class="profession" style="--i:2;">
                           <i class='bx bx-palette'></i>
                           <h3 class="prof">Web Designer</h3>
                       </div>
                       <div class="profession" style="--i:3;">
                           <i class='bx bx-video-recording'></i>
                           <h3 class="prof">Videographer</h3>
                       </div>

                       <div class="circle"></div>
                   </div>

           <div class="overlay"></div>
               </div>

               <div class="hero-section-right">
                   <div class="absolute icons icon-dot">
                       <img width="100px" src="images\dots.png" alt="">
                   </div>
                   <div class="absolute icons icon-cube">
                       <img width="50px" src="images\cubes.png" alt="">
                   </div>
                   <div class="absolute icons icon-circle">
                       <img width="40px" src="images\circle.png" alt="">
                   </div>
                   <div class="absolute icons icon-zigzags">
                       <img width="60px" src="images\zigzags.png" alt="">
                   </div>
                   <div class="absolute icons icon-plus">
                       <img width="30px" src="images\plus.png" alt="">
                   </div>
                   <div class="user-image">
                       <img id="sidd_img" src="images/siddimg.jpg.png" alt="">
                   </div>
                   </div>
       </div>
   </section>

   <%- include("../index/about.ejs") %>

   <%- include("../index/project.ejs") %>

   <%- include("../index/tech.ejs") %>

   <%- include("../index/testimonial.ejs") %>

   <%- include("../index/contact.ejs") %>
   
</div>     
